[package]
authors = ["Philipp Oppermann <dev@phil-opp.com>"]
name = "stm32f7_discovery"
version = "0.1.0"
license = "MIT/Apache-2.0"

[[bin]]
doc = false
name = "stm32f7_discovery"

[dependencies]
alloc-cortex-m = "0.2.2"
bit_field = "0.7.0"
byteorder = { version = "1.0.0", default-features = false }
cortex-m = "0.1.4"
r0 = "0.1.0"
spin = "0.4.5"
volatile = "0.2.1"
net = {git = "https://github.com/embed-rs/net.git"}

[dependencies.arrayvec]
default-features = false
version = "0.3.20"

[dependencies.embedded_stm32f7]
git = "https://github.com/embed-rs/embedded_stm32f7.git"

[profile]

[profile.release]
lto = true
debug = true
